body{
    display: flex;
    justify-content: center;
    margin: 0;
    background-color: rgba(253, 253, 251, 0.336);
}
.wrapper{
    display: flex;
    border: 1px solid;
    border-radius: 5px;
    margin: 210px;
}
.wrapper:hover{
    background-color: rgb(247, 244, 244);
    box-shadow: -1px 1px 40px  rgb(187, 187, 187) ;
    backdrop-filter:blur(4px);
}
.login{
    display: none;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
}
.register{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;

}
input{
    margin:25px;

}
h1{
    display: flex;
    justify-content: center;

}
button{
    padding: 8px;
    margin: 15px;
    border-radius: 12px;
    background-color: rgb(157, 230, 255);

}
.empty{
    display: flex;
    justify-content: center;
    font-size: 15px;
    color:red;
}
h5{
    display: flex;
    justify-content: center;
}
.vert{
    color: rgb(126, 209, 1);
    font-size: 15px;
}